<!-- Footer Start -->

<footer>

    {% include social-buttons.html %}

    <p><br><br></p>

    <div class="container text-center">
        <p>Copyright &copy; {{ site.author }} {{ site.time | date: "%Y" }}</p>
        {% if site.keybase-in-footer %}
        <p style="font-size: 16px;"><a href="https://keybase.io/{{site.keybase-username}}" target="_blank"><i
                class="fa fa-key"></i> {{site.keybase-username}} on Keybase</a></p>
        {% endif %}
    </div>
    <div style="font-size: 9px;">Icons made by <a href="http://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
</footer>

<p><br><br><br><br><br><br></p>

<!-- Footer End -->
